<html>
	<head>
		<link href="/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="content">
			<div id="headline"><%= headline %></div>
			<div id="didido">Did I doooo that!?</div>
		</div>
	</body>
</head>