<html>
	<head>
	</head>
	<body style="background-color: #898989; color: #efefef; font-size: 20px; width: 353px; height: 164px;">
		<p>This Image has been viewed</p>
		<p style="
    font-size: 34px;"><%- viewnum %> times</p>
		<p>since I last updated CNN Gets Urkeled</p>
	
</body>
</html>